footer{
    height: 70px;
    background-color: rgb(209, 146, 209);
  }
  .grid{
    color: white;
    font-size: 17px;
    position: relative;
    margin-left: 20%;
    top: 35%;
  }
  .footerLOGO{
    position: relative;
    padding-top: 9%;
    padding-bottom: 6%;
    margin-left: 33%;
  }
  .FB{
    height: 50px;
  }
