*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
.nav{
  margin: 0px; 
  padding: 0px;
  background: #ea1e63;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 82px;

}
.logo{
  display: inline-block;
 position: relative;
  left: 10px;
  padding: 10px;
  font-size: 22px; 
  color: white;
}
.lollogo{
height: 60px;
padding-left: 20px;
position: relative;
top: 10px;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #ea1e63;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-size: 18px;
padding: 15px;
width: 125%;
font-weight: bold;
}

.dropdown-content a {
color: white;
padding-bottom: 17px;
padding-left: 12px;
padding-top: 6px;
text-decoration: none;
display: block;
}
a > img {
position: relative;
height: 30px;
top: 7px;
right: 4px;
}

.dropdown-content a:hover {
  color: Indigo;
  background-color: aquamarine;
  border-radius: 8px;
  opacity: .9;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropbtn2 {
background-color: #ea1e63;
color: white;
padding: 16px;
font-size: 21px;
border: none;
cursor: pointer;
position: relative;
bottom: 10px;
font-weight: bold;
padding-left: 50px;
padding-right: 50px;
}
.dropdown:hover .dropbtn2 {
color: khaki;
background-color: rgba(177, 33, 134, 0.5);
border-radius: 6px;
}

.dropbtn3 {
background-color: #ea1e63;
color: white;
padding: 16px;
font-size: 21px;
border: none;
cursor: pointer;
position: relative;
bottom: 10px;
font-weight: bold;
padding-left: 50px;
padding-right: 50px;
}

.dropbtn4 {
background-color: #ea1e63;
color: white;
padding: 16px;
font-size: 21px;
border: none;
cursor: pointer;
position: relative;
bottom: 10px;
font-weight: bold;
padding-left: 50px;
padding-right: 50px;
}
.dropdown:hover .dropbtn3 {
color: khaki;
background-color: rgba(177, 33, 134, 0.5);
border-radius: 6px;
}

.dropdown:hover .dropbtn4 {
color: khaki;
background-color: rgba(177, 33, 134, 0.5);
border-radius: 6px;
}



input:focus{
  outline: none;
}

.background{
  padding-left: 12%;
  padding-right: 4%;
  background: rgb(0, 255, 255);
  padding-top: 30%;
  height: 100%;
}

a{
text-decoration: none;
color: white;
}

#champions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }
  
  .champions{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
  justify-content: left;
  bottom: 50px;
  }
  .champions > li{
  margin-right: 30px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 80px;
  font-size: 22px;
  color: white;
  text-align: center;
  background: rgba(0, 191, 255, .5) ;
  border-radius: 10px;
  height: 220px;
  }
  .champions > li > img{
    height: 120px;
    border-radius: 100%;
    border: 4px solid chocolate;
    margin-left: 25px;
    margin-right: 25px;
  }
  .champions > li > a > div{
    position: relative;
    top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .champions > li:hover{
   background: rgba(119, 0, 255, 0.6) ;
   transition-duration: 0.5s;
   }
   .champions > li > a > div:hover{
    color: MediumSpringGreen;
    transition-duration: 0.4s;
    background-color: rgba(214, 21, 47, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
  h1{
    position: relative;
    color: Orange;
    bottom: 200px;
    border-style: solid;
    border-top:rgb(0, 255, 255);
    border-left:rgb(0, 255, 255);
    border-right:rgb(0, 255, 255);
    text-align: center;
    padding-bottom: 10px;
    border-width: 2px;
    width: 90%;
  }
  .footer{
    position: relative;
    padding-top: 50px;
    padding-bottom: 12%;
    margin-left: 33%;
  }
  .FB{
    height: 50px;
    margin-right: 15px;
  }




  
  


  