* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.background {
  padding-left: 14%;
  padding-right: 14%;
  background: rgb(223, 219, 219);
  padding-top: 30%;
  height: 100%;
}

li > img {
  height: 80px;
  border: 4px solid chocolate;
}
li > img:hover {
  opacity: 0.6;
  transition-duration: 0.5s;
}

a {
  text-decoration: none;
}
.dropdownA {
  position: relative;
  display: inline-block;
}
.dropdown-contentB {
  display: none;
  position: absolute;
  background-color: MediumSeaGreen;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 17px;
  padding: 15px;
  width: 600%;
  bottom: 110px;
  font-weight: normal;
}

.dropdown-contentB.right {
  right: 0;
}
.dropdownA:hover .dropdown-contentB {
  display: block;
}

#items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#items li a {
  margin-top: -1px;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  text-align: left;
}

.items {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
  justify-content: left;
  bottom: 70px;
  left: 10px;
}
.items > li {
  margin: 10px;
  padding-right: 90px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 21px;
  color: white;
  text-align: center;
  width: 6%;
}
.info {
  text-align: left;
}
h1 {
  position: relative;
  color: Orange;
  bottom: 200px;
  border-style: solid;
  border-top: rgb(223, 219, 219);
  border-left: rgb(223, 219, 219);
  border-right: rgb(223, 219, 219);
  text-align: center;
  padding-bottom: 10px;
  border-width: 2px;
  margin-left: 7%;
  width: 85%;
}
.items > li p {
  display: none;
}
