*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body { 
    background: url("https://images.contentstack.io/v3/assets/blt0952b6ad20dfb00a/blt11868d1bf1bdec8b/6128ef824dd2c76eddbbf93b/piltover_city.jpg") no-repeat fixed center; 
  }
  .DangNhap{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    padding-top: 15%;
    left: 30%;
  }
  form{
    height: 100%;
    background: white;
    background-size: 100% 100%;
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 34%;
    margin-right: 34%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  input:focus{
    outline: none;
}
.input{
    width: 100%;
    border: none;
    background: rgb(236, 232, 232);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    margin-bottom: 3.5%;
    padding-left: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
}
button{
    border-radius: 22px;
    margin-top: 10%;
    border: none;
    background-color: white;
    position: relative;
    left: 40%;
    margin-bottom: 10%;
}
.buttonBackGround{
    background-color: rgb(240, 232, 232);
    border-radius: 20px;
    width: 300%;
    height: 300%;
    padding-top: 100%;
    padding-bottom: 100%;
}
.buttonBackGround:hover{
    background-color:#2196F3;
}
#error{
    font-weight: bold;
    font-size: 17px;
    padding-top: 20%;
    padding-bottom: 10%;
    text-align: center;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 6%;
    padding-bottom: 3%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
 
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.FBbackground{
    display: inline-block;
    background: #4a6ea8;
    height: 50px;
    width: 30%;
    border-radius: 5px;
    margin-right: 2%;
    border: 1px solid #4a6ea8;
}
.GGbackground{
    display: inline-block;
    background: white;
    height: 50px;
    width: 30%;
    border-radius: 5px;
    margin-right: 2%;
    margin-top: 5%;
    border: 1px solid rgb(211, 201, 201);
}
.IOSbackground{
    display: inline-block;
    background: #d13639;
    border: 1px solid #d13639;
    height: 50px;
    width: 30%;
    border-radius: 5px;
    margin-right: 2%;
}
.icon{
    height: 40px;
    margin-top: 4%;
    padding-left: 32%;
}
.true{
    z-index: 1;
    margin-bottom: 5%;
}
a{
    text-decoration: none;
}

  