.champions_search {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
  justify-content: left;
  bottom: 60px;
  left: 77%;
}
.champions_search > li {
  border: 2px solid khaki;
  border-radius: 6px;
  padding: 10px;
  color: white;
  background-color: #ea1e63;
  height: 60px;
  width: 275px;
}
.champions_search > li:hover {
  background-color: LightSkyBlue;
}

.champions_search > li > img {
  height: 40px;
  border-radius: 100%;
  border: 4px solid chocolate;
  position: relative;
}
.champions_search li a {
  text-decoration: none;
  color: white;
  position: relative;
  right: 18px;
  bottom: 57px;
  font-size: 20px;
  width: 30px;
  height: 60px;
  margin-bottom: 30px;
}
#searchInput {
  display: inline-block;
  position: relative;
  font-size: 22px;
  color: black;
  bottom: 60px;
  height: 40px;
  padding: 1%;
  width: 18%;
  border: none;
  border-radius: 4px;
  margin-left: 77%;
}
input:focus{
  outline: none;
}
.searchname {
  font-size: 21px;
  height: 56.5px;
  width: 275px;
  padding-top: 20px;
  padding-left: 70px;
}
.searchname:hover {
  color: rgba(255, 68, 0, 0.85);
}
