.smallimage {
  height: 94px;
  margin-right: 15px;
  padding: 4px;
  width: 120px;
  opacity: 0.7;
}
.smallimage:hover {
  opacity: 1;
  background-color: royalblue;
}
.largeimage {
  height: 470px;
  position: absolute;
  left: 4px;
  bottom: 115px;
  pointer-events: none;
}
.myExample {
  position: relative;
bottom: 45px;
left: 59px;
}
.Exampleimage {
  height: 470px;
  opacity: .6;
}
.desc1 {
  color: white;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  left: 30px;
  bottom: 535px;
  z-index: 1;
  width: 300px;
}
.dropbtn:focus {
  background-color: #2980b9;
}
.dropimage {
  position: relative;
  display: inline-block;
  left: 55px;
  bottom: 32px;
}
#myDropdown {
  position: relative;
}
#myDropdown2 {
  position: relative;
  right: 139.5px;
}
#myDropdown3 {
  position: relative;
  right: 279px;
}
#myDropdown4 {
  position: relative;
  right: 418.5px;
}
#myDropdown5 {
  position: relative;
  right: 558px;
}
#myDropdown6 {
  position: relative;
  right: 697.5px;
}
#myDropdown7 {
  position: relative;
  right: 837px;
}
.dropdown-image {
  display: none;
  position: absolute;
  background-color: red;
  border: 4px solid red;
  width: 10px;
  z-index: 1;
  height: 0px;
}
