*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
.nav{
  margin: 0px; 
  padding: 0px;
  background: #ea1e63;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 82px;
}
.logo{
  display: inline-block;
 position: relative;
  left: 10px;
  padding: 10px;
  font-size: 22px; 
  color: white;
}
.lollogo{
height: 60px;
padding-left: 20px;
position: relative;
top: 10px;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #ea1e63;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-size: 18px;
padding: 15px;
  width: 125%;
  font-weight: bold;
}

.dropdown-content a {
color: white;
padding-bottom: 17px;
padding-left: 12px;
padding-top: 6px;
text-decoration: none;
display: block;
}
a > img {
  position: relative;
  height: 30px;
  top: 7px;
  right: 4px;
}
.dropdown-content a:hover {
  color: Indigo;
  background-color: aquamarine;
  border-radius: 8px;
  opacity: .9;
}
.dropdown-content > .description{
  pointer-events: none;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropbtn2 {
background-color: #ea1e63;
color: white;
padding: 16px;
font-size: 21px;
border: none;
cursor: pointer;
position: relative;
bottom: 10px;
font-weight: bold;
padding-left: 50px;
padding-right: 50px;
}

.dropdown:hover .dropbtn2 {
  color: khaki;
  background-color: rgba(177, 33, 134, 0.5);
  border-radius: 6px;
  }

.dropbtn3 {
background-color: #ea1e63;
color: white;
padding: 16px;
font-size: 21px;
border: none;
cursor: pointer;
position: relative;
bottom: 10px;
font-weight: bold;
padding-left: 50px;
padding-right: 50px;
}

.dropdown:hover .dropbtn3 {
color: khaki;
background-color: rgba(177, 33, 134, 0.5);
border-radius: 6px;
}

.dropbtn4 {
background-color: #ea1e63;
color: white;
padding: 16px;
font-size: 21px;
border: none;
cursor: pointer;
position: relative;
bottom: 10px;
font-weight: bold;
padding-left: 50px;
padding-right: 50px;
}

.dropdown:hover .dropbtn4 {
color: khaki;
background-color: rgba(177, 33, 134, 0.5);
border-radius: 6px;
}

#myInput {
   display: inline-block;
 position: relative;
   font-size: 22px;
  color: black;
  bottom: 60px;
height: 40px;
padding: 10px;
width: 18%;
border: none;
border-radius: 4px;
margin-left: 1200px;
}
.background{
  padding-left: 200px;
  padding-right: 180px;
  background: rgb(0, 255, 255);
  padding-top: 450px;
  height:2950px;
  }

input:focus{
  outline: none;
}
a{
text-decoration: none;
color: white;
}
.toplaneicon{
  height: 50px;
  position: relative;
  bottom: 300px;
  left: 200px;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}
#champions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  }
  #champions li a { 
  text-decoration: none;
  font-size: 17px;
  color: white;
  position: relative;
  bottom: 15px;
  }
  .champions{
  display: block;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
  justify-content: left;
  bottom: 60px;
  left: 1200px;
  }
  .champions > li{
   border: 2px solid khaki;
   border-radius: 6px;
   padding: 10px;
  color: white;
  background-color: #ea1e63;
  height: 60px;
  width: 275px;
  }
.champions > li:hover{
background-color: rgb(87, 184, 119);
}
li > img{
  height: 40px;
  border-radius: 100%;
  border: 4px solid chocolate;
  position: relative;
  }
  h1{
    position: relative;
    color: Orange;
    bottom: 200px;
    border-style: solid;
    border-top:rgb(0, 255, 255);
    border-left:rgb(0, 255, 255);
    border-right:rgb(0, 255, 255);
    text-align: center;
    padding-bottom: 10px;
    border-width: 2px;
    padding-right: 20px;
  }
.championsava{
  height: 120px;
  border-radius: 100%;
  border: 4px solid chocolate;
  position: relative;
  bottom: 150px;
  left: 60px;
}
.typeicon{
  height: 40px;
  position: relative;
  bottom: 200px;
  left: 90px;
}
.laneicon{
  height: 50px;
}
.laneclick{
  position: relative;
  left: 110px;
  bottom: 200px;
}
.xx{
  position: relative;
  display: flex;
  margin-bottom: 120px;
}
.xx > .images{
  border: 4px solid chocolate;
  position: relative;
  background: red;
  height: 80px;
}
.xx > .imageses{
  height: 30px;
  border: 4px solid chocolate;
  background: red;
  position: relative;
  bottom: 30px;
}
.images:hover{
  opacity: .6;
  transition-duration: 0.5s;
}
.imageses:hover{
  opacity: .6;
  transition-duration: 0.5s;
}
.dropdownA {
position: relative;
display: inline-block;
height: 0px;
margin-bottom: 160px;
bottom: 50px;
left: 20px;
margin-left: 40px;
background-color: blue;
}
.dropdownA .xx .dropdown-content {
display: none;
position: absolute;
background-color: MediumSeaGreen;
border-radius: 5px;
min-width: 160px;
z-index: 1;
font-size: 17px;
padding: 15px;
width: 600%;
bottom: 90px;
font-weight: normal;
}
.dropdownA .xx .dropdown-content a {
color: white;
text-decoration: none;
display: block;
}
.dropdownA:hover .dropdown-content {
display: block;
}
span{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  padding-left: 23px;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background:rgb(43, 255, 0);
  position: relative;
  left: 40px;
  bottom: 85px;
  border-radius: 5px;
}
.dropdown1 {
  position: relative;
  left: 50px;
  height: 80px;
  bottom: 33.5px;
  margin-bottom: 20px;
  display: inline;
  margin-right: 15px;
}
.dropdown-contentB {
  display: none;
  position: absolute;
  bottom: 80px;
  z-index: 1;
}
.dropdown1:hover .dropdown-contentB {
  display: block;
  }
.smallimg{
  position: relative;
  top: 4px;
  height: 94px;
  width: 120px;
  opacity: 0.7;
  padding: 4px;
}
.smallimg:hover{
  opacity: 1.0;
  transition-duration: 0.5s;
  background-color: royalblue;
}
.largeimg{
  height: 470px;
  padding-left: 4px;
}
.example{
  height: 470px;
  position: relative;
  left: 54px;
  bottom: 46px;
}
.exampleimg{
  height: 470px;
  opacity: .5;
}
.desc {
  color: white;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  bottom: 450px;
  left: 30px;
}
h4{
  color: white;
  position: relative;
  bottom: 70px;
  background-color: blueviolet;
  margin-right: 500px;
  margin-left: 40px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 21px;
  border-radius: 10px;
}
h5{
  color: white;
  position: relative;
  top: 46px;
  right: 30px;
  font-size: 26px;
  width: 0px;
  display: inline-flex ;
  z-index: 1;
}
h6{
  color: white;
  position: relative;
  bottom: 60px;
  left: 40px;
  font-size: 21px;
  height: 40px;
  text-align: center;
  width: 130px;
  background-color: DodgerBlue;
  padding-top: 7px;
  border-radius: 6px;
}
.combo1{
  margin-top: 40px;
}

